{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">

        <h2>All Articles</h2>

        <article class="article-list">

            <section class="article-item">
                <h3>Understanding Microservices Architecture</h3>
                <p>Deep dive into scalable distributed systems.</p>
                <a href="{% url "article_details" slug='understanding-microservices-architecture' %}">Read more →</a>
            </section>

            <section class="article-item">
                <h3>FastAPI vs Django: When to Use What?</h3>
                <p>Comparison based on real-world use cases.</p>
                <a href="{% url "article_details" slug='fastapi-vs-django-when-to-use-what' %}">Read more →</a>
            </section>

            <section class="article-item">
                <h3>Database Indexing Strategies</h3>
                <p>How to optimize queries for high-load systems.</p>
                <a href="{% url "article_details" slug='database-indexing-strategies' %}">Read more →</a>
            </section>

        </article>

    </div>
{% endblock content %}
